/* h2{
    color: red;
    font-size: 300px;
} */
.login-form{
    margin-top: 140px;
}
.login-form h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.login-form .form-group{
    display: grid;
    justify-content: center;
    margin-top: 12px;
}
.login-form label{
    margin-bottom: 6px;
}
.login-form input{
    width: 260px;
}
.login-form [type=submit]:not(:disabled) {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 41.9em;
    margin-top: 20px;
    height: 25px;
}
.error{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: red;
}