.footer-main {
  background-color: #f4ae1a;
  width: 100%;
  height: 315px;
}
.footer-columns {
  margin-top: 50px;
  margin-left: 60px;
}
.footer-column {
  margin-top: 50px;
}
.main-label-footer {
  text-transform: none;
  font-size: 20px;
  font-weight: 600;
}
.footer-toplink {
  margin-top: 20px;
}
.first-col ul li a,
.second-col ul li a,
.third-col ul li a,
.four-col ul li a {
  color: #000;
  transition: all 0.5s;
}
.first-col ul li a:hover,
.second-col ul li a:hover,
.third-col ul li a:hover,
.four-col ul li a:hover {
  color: #2a6496;
  margin-left: 10px;
  transition: all 0.5s;
}
.find {
  color: #428bca;
  transition: all 0.5s;
  cursor: pointer;
}
.find:hover {
  color: #2a6496;
  transition: all 0.5s;
}
.social-footer {
  margin-left: 55px;
  white-space: nowrap;
}
.social-footer-icons ul {
  display: flex;
  gap: 5px;
}
.social-footer-icons ul li a img {
  width: 40px;
}
.social-footer-icons {
  margin-left: 70px;
  margin-top: 20px;
}
