@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&family=Roboto+Slab&display=swap");
.img-sec-b-2 img{
    width: 100%;
    height: auto;
}
.img-sec-btn{
    outline: none;
    border: 0px solid transparent;
    background-color: #f4ae1a;
    padding: 20px;
    border-radius: 13px;
    margin-top: 40px;
}
.img-sec-main{
    margin-top: 20px;
}